.easy-embeddable-poll {
  border: 1px solid #dde1e7;
  margin: 0 auto;
  max-width: 320px;
}

.easy-embeddable-poll-title-wrapper {
  background: #fff;
  border-bottom: 1px solid #dde1e7;
  font-weight: bold;
  padding: 15px 20px;
}

.easy-embeddable-poll-choices {
  background: #fff;
  padding: 20px 20px 10px 20px;
}

.easy-embeddable-poll-choice {
  margin-bottom: 10px;
}

.easy-embeddable-poll-choice input[type="radio"] {
  margin-right: 5px;
}

.easy-embeddable-poll-custom-answer-choice label {
  margin-right: 5px;
}

.easy-embeddable-poll-custom-answer-input-wrapper {
  margin-left: 22px;
  margin-top: 5px;
}

.easy-embeddable-poll-submit-wrapper {
  background: #f5f9fc;
  padding: 20px;
}

.easy-embeddable-poll-submit {
  appearance: none;
  background: #1c28eb;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

.easy-embeddable-poll-submit:hover {
  background: #000099;
}

.easy-embeddable-poll-error {
  background: #fff;
  padding: 20px;
  text-align: center;
}

.easy-embeddable-poll-thank-you {
  background: #fff;
  padding: 20px;
  text-align: center;
}
